<script src="https://cdn.tailwindcss.com"></script>
<div class="">
  <h2 class="">Sign up and be slightly cooler than you are right now</h2>
  <form class="">
    <div class="">
      <label class="" for="username"> Username: </label>
      <input class="" type="text" placeholder="super cool username here" />
    </div>
    <div class="">
        <label class="" for="password"> Password: </label>
        <input class="" type="password" placeholder="super secret password here"/>
    </div>
    <div class="">
        <button class="">Sign Up</button>
    </div>
  </form>
</div>